.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.news {
  text-align: left; 
  border:1px solid black;
  padding: 5px;
  margin: 8px;
  max-width: 250px;
}

.news-title {
  font-size: large;
  font-weight:bold;
}

.news-image {
  width:100%;
  height:auto;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  width: 100px;
}
